*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#1b1b1b;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

canvas{

    border:3px solid white;

    image-rendering:pixelated;

}